<h1>Einloggen</h1>
<%= form_for(:session, url: login_path) do |f| %>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
 
  <p>
    <%= f.label :password %><br>
    <%= link_to "(Passwort vergessen)", new_password_reset_path %><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :remember_me do %>
      <%= f.check_box :remember_me %>
      Remember me on this computer
    <% end %>
  </p>
  <p>
    <%= f.submit 'Einloggen'%>
  </p>
<% end %>
<p>Neue auf kibuso.de? <%= link_to "Registrieren!", signup_path %></p>