<h1>Password zurücksetzen</h1>
<%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
  <p>
    <%= render 'shared/error_messages', object: f.object %>
  </p>
  <p>
    <%= hidden_field_tag :email, @user.email %>
  </p>
  <p>
    <%= f.label :password %>
  </p>
  <p>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %>
  </p>
  <p>
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit "Passwort zuruecksetzen" %>
  </p>
<% end %>
