<h1>Passwort vergessen</h1>
<%= form_for(:password_reset, url: password_resets_path) do |f| %>
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.submit "Abschicken" %>
  </p>
<% end %>