<h1>kibuso.de</h1>

<p>Hi,</p>

<p>
Willkommen auf kibuso.de! Klicken Sie auf den Link, 
um Ihren Account zu aktivieren:
</p>

<%= link_to "Aktivieren", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
