<h1>Passwort zuruecksetzen</h1>

<p>Um Ihr Passwort zurueckzusetzen, clicken Sie den Link unten:</p>

<%= link_to "Passwort zuruecksetzen", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>In zwei Stunden laeuft der Link ab.</p>

<p>
Wenn Sie Ihr Passwort nicht zuruecksetzen moechten, ignorieren Sie diese Email.
</p>