Um Ihr Passwort zurueckzusetzen, clicken Sie den Link unten:

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

Der Link laeuft in zwei Stunden ab.

Wenn Sie Ihr Passwort nicht zuruecksetzen moechten, ignorieren Sie diese Email.