<h1>Profildaten aktualisieren</h1>
<%= form_for(@user) do |f| %>
  <p>
    <%= render 'shared/error_messages', object: f.object %>
  </p>
  
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>
  
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit "Aenderungen speichern" %>
  </p>
<% end %>