<h1>Registrieren</h1>
<%= form_for(@user) do |f| %>
  <p>
    <%= render 'shared/error_messages', object: f.object %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
 
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>
  
  <p>
    <%= f.label :password_wiederholen %><br>
    <%= f.password_field :password_confirmation %>
  </p>
 
  <p>
    <%= f.submit 'Benutzer speichern'%>
  </p>
<% end %>