<p>
  <% if @user.journals.any? %>
    <h3>Anzahl der Buchungen (<%= @user.journals.count %>)</h3>
    <table>
      <%= render @journals %>
    </table>
    <%= will_paginate @journals %>
  <% else %>
    <h3>Keine Buchungen vorhanden</h3>
  <% end %>
</p>