<%= form_for(@journal, url: bookings_path) do |f| %>
  <p>
    IKR Kontenrahmen
  </p>
  <p>
    <%= render 'shared/error_messages', object: f.object %>
  </p>
  <% if current_user.journals.count <= 1 %>
    <p>
      Um Ihre Buchhaltung fuehren zu koennen, muss zuerst das Eigenkapitalkonto
      aus der Eroeffnungsbilanz gebucht werden.
    </p>
    <p>
      Als weitere Schritte muessen alle Buchungen aus der Eroeffnungsbilanz
      durchgefuert werden.
    </p>
    <p>
      Die oben genannt Buchungen muessen Sie nur ein mal als neuer Kunde durchfuehren.
      Die darauf folgenden Buchungen aus der Eroeffnungsbilanz, inklusive 
      Eigenkapitalkontobuchung, werden bei darauf folgenden Jahresabschluessen 
      automatisch erstellt.
    </p>
  <% end %>
  <p>
    <%= f.text_field :buchungskreis, placeholder: "Buchungskreis" %>
    Buchungskreis
  </p>
  <p>
    <%= f.text_field :belegnummer, placeholder: "Belegnummer" %>
    Belegnummer
  </p>
  <p>
    <% if current_user.journals.count == 0 %>
      <%= f.text_field :from_account_number, :value => "8000", :readonly => true %>
    <% else %>
      <%= f.text_field :from_account_number, placeholder: "Kontonummer" %>
    <% end %>
    Soll Kontonummer
  </p>
  <p>
    <% if current_user.journals.count == 0 %>
      <%= f.text_field :from_account, :value => "Eroeffnungsbilanz", :readonly => true  %>
    <% else %>
      <%= f.text_field :from_account, placeholder: "Kontoname" %>
    <% end %>
    Soll Kontoname
  </p>
  <p>
    <%= f.text_field :from_amount, placeholder: "Betrag" %>
    Soll Betrag
  </p>
  <p>
    <% if current_user.journals.count == 0 %>
      <%= f.text_field :to_account_number, :value => "30", :readonly => true %>
    <% else %>
      <%= f.text_field :to_account_number, placeholder: "Kontonummer" %>
    <% end %>
    Haben Kontonummer
  </p>
  <p>
    <% if current_user.journals.count == 0 %>
      <%= f.text_field :to_account, :value => "Eigenkapital", :readonly => true %>
    <% else %>
      <%= f.text_field :to_account, placeholder: "Kontoname" %>
    <% end %>
    Haben Kontoname
  </p>
  <p>
    <%= f.text_field :to_amount, placeholder: "Betrag" %>
    Haben Betrag
  </p>
  <p>
    <%= f.submit "Buchen"%>
  </p>
<% end %>