<% if object.errors.any? %>
  The form contains <%= pluralize(object.errors.count, "error") %>
  <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li id="error_explanation"><%= msg %></li>
    <% end %>
  </ul>
<% end %>