<%= form_for(@journal) do |f| %>
  <p>
    <%= render 'shared/error_messages', object: f.object %>
  </p>
  <p>
    <%= f.radio_button :buchungsart, 0, :checked => false %>
    Aktive Eroeffnungsbuchung</br>
    <%= f.radio_button :buchungsart, 1, :checked => false %>
    Passive Eroeffnungsbuchung</br>
    <%= f.radio_button :buchungsart, 2, :checked => true %>
    Einfache Buchung
  </p>
  <p>
    <%= f.text_field :from_account_number, placeholder: "Kontonummer" %>
    Soll Kontonummer
  </p>
  <p>
    <%= f.text_field :from_account, placeholder: "Kontoname" %>
    Soll Kontoname
  </p>
  <p>
    <%= f.text_field :from_amount, placeholder: "Betrag" %>
    Soll Betrag
  </p>
  <p>
    <%= f.text_field :to_account_number, placeholder: "Kontonummer" %>
    Haben Kontonummer
  </p>
  <p>
    <%= f.text_field :to_account, placeholder: "Kontoname" %>
    Haben Kontoname
  </p>
  <p>
    <%= f.text_field :to_amount, placeholder: "Betrag" %>
    Haben Betrag
  </p>
  <p>
    <%= f.submit "Senden"%>
  </p>
<% end %>