<h1>Willkommen auf kibuso.de</h1>
<p>Hier können Sie kostenlos Ihre Buchhaltung führen.</p>
<p>Erstellen Sie ein Benutzerkonto, loggen Sie sich ein und führen Sie Ihre
Journalbuchungen durch. Kibuso.de erstellt alle notwendigen Bücher und
Konten. Die Buchungen aus dem Journal werden auf die Konten übertragen.
Sie können jederzeit den Jahresabschluss mit einem Click erstellen.</p>
<p>Wir wünschen Ihnen viel Spass</p>
<p>Dieser Service ist komplett kostenlos.</p>
<%= link_to "Neues Benutzerkonto erstellen", signup_path %>
<% if logged_in? %>
<% else %>
  <%= link_to "Als Benutzer einloggen", login_path %>
<% end %>