<% @account.each do |konto| %>
  <tr>
    <td>
      <%= konto[0] %>
    </td>
    <td>
      <%= konto[1] %>
    </td>
    <td>
      <%= konto[2] %>
    </td>
    <td>
      <%= konto[3] %>
    </td>
    <td>
      <%= konto[4] %>
    </td>
    <td>
      <%= konto[5] %>
    </td>
  </tr>
<% end %>