<% if @hauptbuch.count == 0 %>
  <h3>Das Hauptbuch ist leer.</h3>
<% else %>
  <% @hauptbuch.each do |konto| %>
    <tr>
      <td>
        <%= link_to konto[0], journal_path(current_user.id, 
                    :account_name => konto[1], :account_number => konto[0]) %>
      </td>
      <td>
        <%= link_to konto[1], journal_path(current_user.id,
                    :account_name => konto[1], :account_number => konto[0])%>
      </td>
    </tr>
  <% end %>
<% end %>