<tr>
  <td>
    <%= journal.buchungsart %>
  </td>
  <td>
    <%= journal.buchungskreis %>
  </td>
  <td>
    <%= journal.belegnummer %>
  </td>
  <td>
    <%= journal.from_account_number %>
  </td>
  <td>
    <%= journal.from_account %>
  </td>
  <td>
    <%= journal.from_amount %>
  </td>
  <td>
    <%= journal.to_account_number %>
  </td>
  <td>
    <%= journal.to_account %>
  </td>
  <td>
    <%= journal.to_amount %>
  </td>
  <td>
    Erstellt am <%= journal.created_at.in_time_zone('Berlin') %>.
  </td>
</tr>