<% if params[:account_name].nil? %>
  <table>
    <%= render 'journals/hauptbuch' %>
  </table>
  <%= will_paginate @hauptbuch %>
<% else %>
  <table>
    <%= render 'journals/account' %>
  </table>
  <%= will_paginate @account %>
<% end %>