<%= link_to "Home", root_path %>
<%= link_to "Hilfe", '#' %>
<% if logged_in? %>
  <%= link_to "Buchung", new_booking_path %>
  <%= link_to "Journal", current_user %>
  <%= link_to "Hauptbuch", journal_path(current_user) %>
  <%= link_to "Jahresabschluss erstellen", booking_path(current_user) %>
  <%= link_to "Einstellungen", edit_user_path(current_user) %>
  <%= link_to "Log out", logout_path, method: "delete" %>
<% else %>
  <%= link_to "Log in", login_path %>
<% end %>
</br></br>