<!DOCTYPE html>
<html>
  <head>
    <title>Bookkeeping</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <% flash.each do |message_type, message| %>
        <%= message %>
    <% end %>
    <%= yield %>
  </body>
</html>
